/*Comentario en CSS*/

/*Esto es un Class, empieza con un punto*/
.hashtag{				
    color: #ffc900;
 }

/*Esto es un id, empieza con un # */
#experience{
    background-color: white;  
 }


------------------------------------------------------------------------------------
#header {
	background-color: #000000;
	color: white;
	padding: 10px 20px;
	margin: 0px;
	font-family: sans-serif;
	list-style: none;
	padding: 0;
	overflow: hidden;
	float: left;
	margin: 0 15px 0 0;
	padding: 20px;
	text-decoration: none;
	color: #FF9999;
	float: left;
	width: 40%;
	clear: both;
}

#content form [type=text], #content form [type=email], #content textarea {
	display: block;
	margin-bottom: 10px ;
	width: 50%;
	padding: 10px;
	border: 0;
	background-color: #efefef;
	color: #666666;
	border-bottom: 1px solid #666;
}



#header{
	background-color: #000000;
	color: white;
	padding: 10px 20px;
}

#header h1{
	margin: 0;
}

body{
	margin: 0px;
	font-family: sans-serif;
}

#header ul{
	list-style: none;
	padding: 0;
	overflow: hidden;

}

#header li{
	float: left;
	margin: 0 15px 0 0;
}

#content{
	padding: 20px;
}

#header ul a {
	color: #FFFFFF;
	text-decoration: none;

}
#header ul a:hover {
	color: #FF9999;
	
}

.two-columns img, .two-columns p {
	float: left;
	width: 40%;

}

.two-columns p {
	margin: 0 20px;

}

#content form{
	clear: both;
}

#content form [type=text], #content form [type=email], #content textarea {
	display: block;
	margin-bottom: 10px ;
	width: 50%;
	padding: 10px;
	border: 0;
	background-color: #efefef;
	color: #666666;
}

#content table tr{
	background-color: #ccc;

}

#content table tr:nth-child(even){
	background-color: #efefef;
}

#content table tr:nth-child(odd){
	background-color: #FFFFFF;
}


#content table tr>* {
	padding: 3px 10px;
	border-bottom: 1px solid #666;


}
